LABEL arch
TEXT HELP
Boot the Aris OS live medium on BIOS.
It allows you to install Aris OS or perform system maintenance.
ENDTEXT
MENU LABEL Aris OS live medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=2G

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Aris OS live medium on BIOS with speakup screen reader.
It allows you to install Aris OS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Aris OS live medium (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=2G accessibility=on
