# ISO output and build temp directories
work/
out/
*.iso
*.img

# Pacman cache & logs
airootfs/var/cache/
airootfs/var/lib/pacman/sync/
airootfs/var/log/

# Sensitive system files
airootfs/etc/shadow
airootfs/etc/gshadow
airootfs/etc/passwd
airootfs/etc/group

# Backup or editor files
*.swp
*.swo
.DS_Store

GEMINI.md
